<!DOCTYPE web-app>

<web-app>

	<display-name>ctp-manageweb</display-name>
	<!-- 修改spring配置文件的路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 加载spring配置文件 -->
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- 配置logback -->
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:logback.xml</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ctp-manageweb</param-value>
		<description>后台管理系统</description>
	</context-param>
	
	<!-- 配置spring监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
	</listener>
	<!-- spring过滤器控制乱码 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 配置springMVC -->
	<servlet>
		<servlet-name>manageSpring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-manage-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>manageSpring</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- 欢迎页 -->
	<welcome-file-list>
		<welcome-file>/home/login.do</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/request404.html</location>
	</error-page>
	
	<!-- 配置session超时 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<!-- 登陆session监听 -->
	<listener>
		<listener-class>com.hzw.du.web.controller.home.SessionController</listener-class>
	</listener>
	
</web-app>

