<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<plugins>
			<!-- MyBatis 分页插件  -->
			<plugin interceptor="com.hzw.du.model.page.PagePlugin">
				<!-- MyBatis中配置的SQL的ID需要以ByPage结尾 -->
				<property name="pageSqlId" value=".*ByPage.*" />
			</plugin>
		</plugins>
	
	
</configuration>	
