<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	【命名规范说明 】
	 1. 文件名采用sqlmap-模块名-表名.xml 的方式；
	 2. 每个SQL上需要编写该条SQL的注释；
	 3. SQL关键字采用全大写的方式；
	 4. 如果允许，请尽量保持SQL的ID和对应的业务方法名保持一致；
	 5. 查询SQL如果需要使用自动分页，则其SQL的ID必须使用ByPage结尾；
	 6. 可以使用MyBatis流程控制语句来实现SQL的重用；
	 6. 注意SQL排版；
-->

<mapper namespace="com.hzw.du.model.mapper.DemoMapper">
	
	<resultMap type="com.hzw.du.model.mapper.Demo" id="Demo">
		<result property="id" column="ID"></result>
		<result property="name" column="NAME"></result>
		<result property="isDel" column="IS_DEL"></result>
	</resultMap>
	
	<!-- 查询所有SQL示例 -->
	<select id="queryDemoById" resultMap="Demo" parameterType="Demo">
		SELECT T.ID, T.NAME, T.IS_DEL
		  FROM DEMO T
		 WHERE 1=1
		   AND T.ID = #{id}
	</select>		
	
</mapper>

