<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.du.model.mapper.KpDetailReviewMapper">
	<!-- [KP_DETAIL_REVIEW  详细评审表， 序列seq_detailid] -->
	<resultMap type="com.hzw.du.model.mapper.KpDetailReview" id="KpDetailReview">
		<result property="detailId" column="DETAILID" javaType="java.lang.Long"/>
		<result property="subId" column="SUBID" javaType="java.lang.Long"/>
		<result property="tenderProjectId" column="TENDERPROJECTID" javaType="java.lang.Long"/>
		<result property="expertId" column="EXPERTID" javaType="java.lang.Long"/>
		<result property="isMarks" column="ISMARKS" javaType="java.lang.Integer"/>
		<result property="status" column="STATUS" javaType="java.lang.Integer"/>
		<result property="createUser" column="CREATEUSER" javaType="java.lang.Long"/>
		<result property="createTime" column="CREATETIME" javaType="java.util.Date"/>
		<result property="updateUser" column="UPDATEUSER" javaType="java.lang.Long"/>
		<result property="updateTime" column="UPDATETIME" javaType="java.util.Date"/>
	</resultMap>
	<!-- 公共表字段 -->
	<sql id="table_sql">
		DETAILID,
		SUBID,
		TENDERPROJECTID,
		EXPERTID,
		ISMARKS,
		STATUS,
		CREATEUSER,
		CREATETIME,
		UPDATEUSER,
		UPDATETIME
	</sql>
	
	<!-- 插入一条记录 -->
	<insert id="insertKpDetailReview" parameterType="KpDetailReview">
		<selectKey keyProperty="detailId" resultType="long" order="BEFORE">
			SELECT seq_detailid.NEXTVAL AS id FROM DUAL 
		</selectKey>
		INSERT INTO KP_DETAIL_REVIEW (
			<include refid="table_sql" />
		)
		VALUES (
			#{detailId, jdbcType=NUMERIC},
			#{subId, jdbcType=NUMERIC},
			#{tenderProjectId, jdbcType=NUMERIC},
			#{expertId, jdbcType=NUMERIC},
			#{isMarks, jdbcType=NUMERIC},
			#{status, jdbcType=NUMERIC},
			#{createUser, jdbcType=NUMERIC},
			#{createTime, jdbcType=TIMESTAMP},
			#{updateUser, jdbcType=NUMERIC},
			#{updateTime, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<select id="queryKpDetailReviewByPage" resultMap="KpDetailReview" parameterType="KpDetailReview">
		SELECT 
			<include refid="table_sql" />
		FROM KP_DETAIL_REVIEW
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="detailId != null and detailId != '' ">AND DETAILID = #{detailId}</if>
			<if test="subId != null and subId != ''">AND SUBID = #{subId} </if>
			<if test="tenderProjectId != null and tenderProjectId != ''">AND TENDERPROJECTID = #{tenderProjectId} </if>
			<if test="expertId != null and expertId != ''">AND EXPERTID = #{expertId} </if>
			<if test="isMarks != null and isMarks != ''">AND ISMARKS = #{isMarks} </if>
			<if test="status != null and status != ''">AND STATUS = #{status} </if>
		</trim> 
	</select>
	
</mapper>

