<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.du.model.mapper.TbQuestionProblemMapper">
	<!-- [TB_QUESTION_PROBLEM 澄清答疑问题表， 序列seq_problemid] -->
	<resultMap type="com.hzw.du.model.mapper.TbQuestionProblem" id="TbQuestionProblem">
		<result property="problemId" column="PROBLEMID" javaType="java.lang.Long" />
		<result property="subId" column="SUBID" javaType="java.lang.Long" />
		<result property="tenderProjectId" column="TENDERPROJECTID" javaType="java.lang.Long" />
		<result property="problemFileId" column="PROBLEMFILEID" javaType="java.lang.Long" />
		<result property="status" column="STATUS" javaType="java.lang.Integer" />
		<result property="createUser" column="CREATEUSER" javaType="java.lang.Long"/>
		<result property="createTime" column="CREATETIME" javaType="java.util.Date"/>
		<result property="updateUser" column="UPDATEUSER" javaType="java.lang.Long"/>
		<result property="updateTime" column="UPDATETIME" javaType="java.util.Date"/>
	</resultMap>
	<!-- 公共表字段 -->
	<sql id="table_sql">
		PROBLEMID,
		SUBID,
		TENDERPROJECTID,
		QUESTIONPROBLEM,
		PROBLEMFILEID,
		STATUS,
		CREATEUSER,
		CREATETIME,
		UPDATEUSER,
		UPDATETIME
	</sql>
	
	<!-- 插入一条记录 -->
	<insert id="insertTbQuestionProblem" parameterType="TbQuestionProblem">
		<selectKey keyProperty="problemId" resultType="long" order="BEFORE">
			SELECT seq_problemid.NEXTVAL AS id FROM DUAL 
		</selectKey>
		INSERT INTO TB_QUESTION_PROBLEM (
			<include refid="table_sql" />
		)
		VALUES (
			#{problemId, jdbcType=NUMERIC},
			#{subId, jdbcType=NUMERIC},
			#{tenderProjectId, jdbcType=NUMERIC},
			#{questionProblem, jdbcType=VARCHAR},
			#{problemFileId, jdbcType=NUMERIC},
			#{status, jdbcType=NUMERIC},
			#{createUser, jdbcType=NUMERIC},
			#{createTime, jdbcType=TIMESTAMP},
			#{updateUser, jdbcType=NUMERIC},
			#{updateTime, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<select id="queryTbQuestionProblemByPage" resultMap="TbQuestionProblem" parameterType="TbQuestionProblem">
		SELECT 
			<include refid="table_sql" />
		FROM TB_QUESTION_PROBLEM
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="problemId != null and problemId != '' ">AND PROBLEMID = #{problemId}</if>
			<if test="subId != null and subId != '' ">AND SUBID = #{subId}</if>
			<if test="tenderProjectId != null and tenderProjectId != '' ">AND TENDERPROJECTID = #{tenderProjectId}</if>
			<if test="problemFileId != null and problemFileId != '' ">AND PROBLEMFILEID = #{problemFileId}</if>
			<if test="status != null ">AND STATUS = #{status}</if>
		</trim>
	</select>
	
</mapper>

