<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.du.model.mapper.SysAreaMapper">
	<!-- [SYS_AREA  地区表， 序列seq_areaid] -->
	<resultMap type="com.hzw.du.model.mapper.SysArea" id="SysArea">
		<result property="areaId" column="AREAID" javaType="java.lang.Long" />
		<result property="areaNum" column="AREANUM" javaType="java.lang.String" />
		<result property="areaName" column="AREANAME" javaType="java.lang.String" />
		<result property="areaType" column="AREATYPE" javaType="java.lang.Integer" />
		<result property="pareantId" column="PARENTID" javaType="java.lang.Long" />
		<result property="status" column="STATUS" javaType="java.lang.Integer"/>
	</resultMap>
	<!-- 公共表字段 -->
	<sql id="table_sql">
		AREAID,
		AREANUM,
		AREANAME,
		AREATYPE,
		PARENTID,
		STATUS
	</sql>
	
	<!-- 插入一条记录 -->
	<insert id="insertSysArea" parameterType="SysArea">
		<selectKey keyProperty="areaId" resultType="long" order="BEFORE">
			SELECT seq_areaid.NEXTVAL AS id FROM DUAL 
		</selectKey>
		INSERT INTO SYS_AREA (
			<include refid="table_sql" />
		)
		VALUES (
			#{areaId, jdbcType=NUMERIC},
			#{areaNum, jdbcType=VARCHAR},
			#{areaName, jdbcType=VARCHAR},
			#{areaType, jdbcType=NUMERIC},
			#{pareantId, jdbcType=NUMERIC},
			#{status, jdbcType=NUMERIC}
		)
	</insert>
	
	<select id="querySysAreaByPage" resultMap="SysArea" parameterType="SysArea">
		SELECT 
			<include refid="table_sql" />
		FROM SYS_AREA
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="areaId != null and areaId != '' ">AND AREAID = #{areaId}</if>
			<if test="areaNum != null and areaNum != '' ">AND AREANUM = #{areaNum}</if>
			<if test="areaName != null and areaName != ''">AND AREANAME = #{areaName} </if>
			<if test="areaType != null and areaType != ''">AND AREATYPE = #{areaType} </if>
			<if test="pareantId != null and pareantId != ''">AND PARENTID = #{pareantId} </if>
			<if test="status != null and status != ''">AND STATUS = #{status} </if>
		</trim> 
	</select>
	
</mapper>

