<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.du.model.mapper.SysPersonUserMapper">
	<!-- [SYS_PERSON_USER  招标人用户表， 序列seq_personuserid] -->
	<resultMap type="com.hzw.du.model.mapper.SysPersonUser" id="SysPersonUser">
		<result property="personUserId" column="PERSONUSERID" javaType="java.lang.Long" />
		<result property="organizationId" column="ORGANIZATIONID" javaType="java.lang.Long" />
		<result property="userId" column="USERID" javaType="java.lang.Long" />
		<result property="cardFile" column="CARDFILE" javaType="java.lang.Long" />
		<result property="status" column="STATUS" javaType="java.lang.Integer" />
		<result property="createUser" column="CREATEUSER" javaType="java.lang.Long"/>
		<result property="createTime" column="CREATETIME" javaType="java.util.Date"/>
		<result property="updateUser" column="UPDATEUSER" javaType="java.lang.Long"/>
		<result property="updateTime" column="UPDATETIME" javaType="java.util.Date"/>
		<result property="status" column="STATUS" javaType="java.lang.Integer"/>
	</resultMap>
	<!-- 公共表字段 -->
	<sql id="table_sql">
		PERSONUSERID,
		ORGANIZATIONID,
		USERID,
		CARDFILE,
		STATUS,
		CREATEUSER,
		CREATETIME,
		UPDATEUSER,
		UPDATETIME,
		STATUS
	</sql>
	
	<!-- 插入一条记录 -->
	<insert id="insertSysPersonUser" parameterType="SysPersonUser">
		<selectKey keyProperty="personUserId" resultType="long" order="BEFORE">
			SELECT seq_personuserid.NEXTVAL AS id FROM DUAL 
		</selectKey>
		INSERT INTO SYS_PERSON_USER (
			<include refid="table_sql" />
		)
		VALUES (
			#{personUserId, jdbcType=NUMERIC},
			#{organizationId, jdbcType=NUMERIC},
			#{userId, jdbcType=NUMERIC},
			#{cardFile, jdbcType=NUMERIC},
			#{status, jdbcType=NUMERIC},
			#{createUser, jdbcType=NUMERIC},
			#{createTime, jdbcType=TIMESTAMP},
			#{updateUser, jdbcType=NUMERIC},
			#{updateTime, jdbcType=TIMESTAMP},
			#{status }
		)
	</insert>
	
	<select id="querySysPersonUserByPage" resultMap="SysPersonUser" parameterType="SysPersonUser">
		SELECT 
			<include refid="table_sql" />
		FROM SYS_PERSON_USER
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="personUserId != null and personUserId != '' ">AND PERSONUSERID = #{personUserId}</if>
			<if test="organizationId != null and organizationId != '' ">AND ORGANIZATIONID = #{organizationId}</if>
			<if test="userId != null and userId != '' ">AND USERID = #{userId}</if>
			<if test="cardFile != null and cardFile != '' ">AND CARDFILE = #{cardFile}</if>
			<if test="status != null ">AND STATUS = #{status}</if>
		</trim>
	</select>
	
	<select id="getSysPersonUserById" resultMap="SysPersonUser" parameterType="java.lang.Long">
		SELECT P.*, F.FILENAME CARDFILENAME FROM (
		SELECT 
			<include refid="table_sql" />
		FROM SYS_PERSON_USER
		WHERE USERID = #{userId}) U
		LEFT JOIN SYS_FILE F ON U.CARDFILE = F.FILEID
	</select>
	
	<!-- 修改用户信息 -->
	<update id="modifySysPersonUser" parameterType="SysPersonUser" >
		UPDATE SYS_PERSON_USER
		<set>
			<if test="null != cardFile and '' != cardFile" > CARDFILE = #{cardFile},</if>
			<if test="null != status and '' != status"> STATUS = #{status},</if>
			<if test="null != updateUser and '' != updateUser"> UPDATEUSER = #{updateUser },</if>
			<if test="null != updateTime"> UPDATETIME = #{updateTime },</if>
			<if test="null != status and '' != status"> STATUS = #{status }</if>
		</set>
		WHERE USERID = #{userId }
	</update>
	
</mapper>

