<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.du.model.mapper.SysRoleMapper">
	<!-- [SYS_ROLE  角色表， 序列seq_roleid] -->
	<resultMap type="com.hzw.du.model.mapper.SysRole" id="SysRole">
		<result property="roleId" column="ROLEID" javaType="java.lang.Long" />
		<result property="roleName" column="ROLENAME" javaType="java.lang.String" />
		<result property="type" column="TYPE" javaType="java.lang.Integer" />
		<result property="status" column="STATUS" javaType="java.lang.Integer" />
		<result property="createUser" column="CREATEUSER" javaType="java.lang.Long"/>
		<result property="createTime" column="CREATETIME" javaType="java.util.Date"/>
		<result property="updateUser" column="UPDATEUSER" javaType="java.lang.Long"/>
		<result property="updateTime" column="UPDATETIME" javaType="java.util.Date"/>
	</resultMap>
	<!-- 公共表字段 -->
	<sql id="table_sql">
		ROLEID,
		ROLENAME,
		TYPE,
		STATUS,
		CREATEUSER,
		CREATETIME,
		UPDATEUSER,
		UPDATETIME
	</sql>
	
	<!-- 插入一条记录 -->
	<insert id="insertSysRole" parameterType="SysRole">
		<selectKey keyProperty="phoneModifyId" resultType="long" order="BEFORE">
			SELECT seq_roleid.NEXTVAL AS id FROM DUAL 
		</selectKey>
		INSERT INTO SYS_ROLE (
			<include refid="table_sql" />
		)
		VALUES (
			#{roleId, jdbcType=NUMERIC},
			#{roleName, jdbcType=VARCHAR},
			#{type, jdbcType=NUMERIC},
			#{status, jdbcType=NUMERIC},
			#{createUser, jdbcType=NUMERIC},
			#{createTime, jdbcType=TIMESTAMP},
			#{updateUser, jdbcType=NUMERIC},
			#{updateTime, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<select id="querySysRoleByPage" resultMap="SysRole" parameterType="SysRole">
		SELECT 
			<include refid="table_sql" />
		FROM SYS_ROLE
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="roleId != null and roleId != '' ">AND ROLEID = #{roleId}</if>
			<if test="roleName != null and roleName != '' ">AND ROLENAME = #{roleName}</if>
			<if test="type != null and type != '' ">AND TYPE = #{type}</if>
			<if test="status != null ">AND STATUS = #{status}</if>
		</trim>
	</select>
	
</mapper>

