<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.du.model.mapper.TbAbnormalProjectMapper">
	<!-- [TB_ABNORMAL_PROJECT  异常项目表， 序列seq_abnormalid] -->
	<resultMap type="com.hzw.du.model.mapper.TbAbnormalProject" id="TbAbnormalProject">
		<result property="abnormalId" column="ABNORMALID" javaType="java.lang.Long" />
		<result property="subId" column="SUBID" javaType="java.lang.Long" />
		<result property="tenderProjectId" column="TENDERPROJECTID" javaType="java.lang.Long" />
		<result property="abnormalFlag" column="ABNORMALFLAG" javaType="java.lang.Integer" />
		<result property="abnormalTime" column="ABNORMALTIME" javaType="java.util.Date" />
		<result property="abnormalMark" column="ABNORMALMARK" javaType="java.lang.String" />
		<result property="approvalResult" column="APPROVALRESULT" javaType="java.lang.String" />
		<result property="approvalTime" column="APPROVALTIME" javaType="java.util.Date" />
		<result property="status" column="STATUS" javaType="java.lang.Integer" />
		<result property="createUser" column="CREATEUSER" javaType="java.lang.Long"/>
		<result property="createTime" column="CREATETIME" javaType="java.util.Date"/>
		<result property="updateUser" column="UPDATEUSER" javaType="java.lang.Long"/>
		<result property="updateTime" column="UPDATETIME" javaType="java.util.Date"/>
	</resultMap>
	<!-- 公共表字段 -->
	<sql id="table_sql">
		ABNORMALID,
		SUBID,
		TENDERPROJECTID,
		ABNORMALFLAG,
		ABNORMALTIME,
		ABNORMALMARK,
		APPROVALRESULT,
		APPROVALTIME,
		STATUS,
		CREATEUSER,
		CREATETIME,
		UPDATEUSER,
		UPDATETIME
	</sql>
	
	<!-- 插入一条记录 -->
	<insert id="insertTbAbnormalProject" parameterType="TbAbnormalProject">
		<selectKey keyProperty="abnormalId" resultType="long" order="BEFORE">
			SELECT seq_abnormalid.NEXTVAL AS id FROM DUAL 
		</selectKey>
		INSERT INTO TB_ABNORMAL_PROJECT (
			<include refid="table_sql" />
		)
		VALUES (
			#{abnormalId, jdbcType=NUMERIC},
			#{subId, jdbcType=NUMERIC},
			#{tenderProjectId, jdbcType=NUMERIC},
			#{abnormalFlag, jdbcType=NUMERIC},
			#{abnormalTime, jdbcType=TIMESTAMP},
			#{abnormalMark, jdbcType=VARCHAR},
			#{approvalResult, jdbcType=VARCHAR},
			#{approvalTime, jdbcType=TIMESTAMP},
			#{status, jdbcType=NUMERIC},
			#{createUser, jdbcType=NUMERIC},
			#{createTime, jdbcType=TIMESTAMP},
			#{updateUser, jdbcType=NUMERIC},
			#{updateTime, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<select id="queryTbAbnormalProjectByPage" resultMap="TbAbnormalProject" parameterType="TbAbnormalProject">
		SELECT 
			<include refid="table_sql" />
		FROM TB_ABNORMAL_PROJECT
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="abnormalId != null and abnormalId != '' ">AND ABNORMALID = #{abnormalId}</if>
			<if test="subId != null and subId != '' ">AND STAFFCODE = #{subId}</if>
			<if test="tenderProjectId != null and tenderProjectId != '' ">AND TENDERPROJECTID = #{tenderProjectId}</if>
			<if test="abnormalFlag != null and abnormalFlag != '' ">AND ABNORMALFLAG = #{abnormalFlag}</if>
			<if test="status != null ">AND STATUS = #{status}</if>
		</trim>
	</select>
	
</mapper>

