<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzw.du.model.mapper.TbComplainMapper">
	<!-- [TB_COMPLAIN 质疑投诉表， 序列seq_complainid] -->
	<resultMap type="com.hzw.du.model.mapper.TbComplain" id="TbComplain">
		<result property="complainId" column="COMPLAINID" javaType="java.lang.Long" />
		<result property="organizationId" column="ORGANIZATIONID" javaType="java.lang.Long" />
		<result property="subId" column="SUBID" javaType="java.lang.Long" />
		<result property="tenderProjectId" column="TENDERPROJECTID" javaType="java.lang.Long" />
		<result property="basis" column="BASIS" javaType="java.lang.String" />
		<result property="content" column="CONTENT" javaType="java.lang.String" />
		<result property="complainFileId" column="COMPLAINFILEID" javaType="java.lang.Long" />
		<result property="acceptState" column="ACCEPTSTATE" javaType="java.lang.Integer" />
		<result property="status" column="STATUS" javaType="java.lang.Integer" />
		<result property="createUser" column="CREATEUSER" javaType="java.lang.Long"/>
		<result property="createTime" column="CREATETIME" javaType="java.util.Date"/>
		<result property="updateUser" column="UPDATEUSER" javaType="java.lang.Long"/>
		<result property="updateTime" column="UPDATETIME" javaType="java.util.Date"/>
	</resultMap>
	<!-- 公共表字段 -->
	<sql id="table_sql">
		COMPLAINID,
		ORGANIZATIONID,
		SUBID,
		TENDERPROJECTID,
		BASIS,
		CONTENT,
		COMPLAINFILEID,
		ACCEPTSTATE,
		STATUS,
		CREATEUSER,
		CREATETIME,
		UPDATEUSER,
		UPDATETIME
	</sql>
	
	<!-- 插入一条记录 -->
	<insert id="insertTbComplain" parameterType="TbComplain">
		<selectKey keyProperty="complainId" resultType="long" order="BEFORE">
			SELECT seq_complainid.NEXTVAL AS id FROM DUAL 
		</selectKey>
		INSERT INTO TB_COMPLAIN (
			<include refid="table_sql" />
		)
		VALUES (
			#{complainId, jdbcType=NUMERIC},
			#{organizationId, jdbcType=NUMERIC},
			#{subId, jdbcType=NUMERIC},
			#{tenderProjectId, jdbcType=NUMERIC},
			#{basis, jdbcType=VARCHAR},
			#{content, jdbcType=VARCHAR},
			#{complainFileId, jdbcType=NUMERIC},
			#{acceptState, jdbcType=NUMERIC},
			#{status, jdbcType=NUMERIC},
			#{createUser, jdbcType=NUMERIC},
			#{createTime, jdbcType=TIMESTAMP},
			#{updateUser, jdbcType=NUMERIC},
			#{updateTime, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<select id="queryTbComplainByPage" resultMap="TbComplain" parameterType="TbComplain">
		SELECT 
			<include refid="table_sql" />
		FROM TB_COMPLAIN
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="complainId != null and complainId != '' ">AND INVITATIONID = #{complainId}</if>
			<if test="organizationId != null and organizationId != '' ">AND ORGANIZATIONID = #{organizationId}</if>
			<if test="subId != null and subId != '' ">AND SUBID = #{subId}</if>
			<if test="tenderProjectId != null and tenderProjectId != '' ">AND TENDERPROJECTID = #{tenderProjectId}</if>
			<if test="complainFileId != null and complainFileId != '' ">AND COMPLAINFILEID = #{complainFileId}</if>
			<if test="acceptState != null and acceptState != '' ">AND ACCEPTSTATE = #{acceptState}</if>
			<if test="status != null ">AND STATUS = #{status}</if>
		</trim>
	</select>
	
</mapper>

